body{
    background-color: #b2bcbe;;
}
.navbar{
    padding-right: 25px;
    padding-left: 25px;
    background-color: #000000
}
  
/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
    position: absolute;
    bottom: 5px;
    right: 50px;
    width: 35px;
    color: white;
}
.big-banner{
    background-image: url(https://www.cambridgeindependent.co.uk/_media/img/620x0/ITUDF2YZUEDESTWVW1GL.jpg);
    background-size: 100%;
}
#main_title{
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 70px;
  color: $gray-600;

}
#multiple_filters{
    width: 80px;
}
#bottom-navbar{
    background-color: #000000
}
